<a target="_blank" href="{{ partner.website }}">
	<figure>
		<img src="{{ asset('uploads/partners/' ~ partner.image) }}" alt="">
		<figcaption>
			<h2>{{ partner.name}}</h2>
		</figcaption>
	</figure>
</a>
