<article>
	<img src="{{ asset('uploads/spectacles/' ~ spectacle.image) }}" alt="">
	<main>
		<h1>{{ spectacle.title }}</h1>
		<p>{{ spectacle.description|nl2br }}
		</p>
		<a role="button" href="#">Plus d'information</a>
	</main>
</article>
