{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Espace d'administration{% endblock %}


{% block main %}
    <p>Bienvenue ! <br> Utilisez la barre de navigation latérale pour administrer le site</p>
{% endblock %}