<nav>
	<ul>
		<li>
			<a href="#">
				<img src="{{ asset('build/images/logo.png')}}" alt="logo"></a>
		</li>
	</ul>
	<ul class="menu">
		<li>
			<a href="#links">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
					<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
				</svg>
			</a>
		</li>
	</ul>
	<ul class="links" id="links">
		<li>
			<a href="#presentation">Compagnie</a>
		</li>
		<li>
			<a href="#">Spectacles</a>
		</li>
		<li>
			<a href="#members">Membres</a>
		</li>
		<li>
			<a href="#contact">Contact</a>
		</li>
	</ul>
</nav>
