@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Roboto:wght@300;400;700&display=swap');


:root[data-theme] {
    --primary: rgb(26, 188, 156);
    --primary-light: rgba(26, 188, 156, 0.2);
    --secondary: #943636;
    --light: hsl(170, 33%, 96%);
    --dark: #020f0c;


    --space1: 0.5rem;
    --space2: 1rem;
    --space3: 2rem;
    --space4: 4rem;

    --font-size-title: 3.6rem;
    --font-size-subtitle: 2.4rem;
    --font-size-text: 1.2rem;

    --font-family-title: 'Lobster Two', cursive;
    --font-family-text: 'Roboto', sans-serif;

    --navbar-size: 100px;
    --breakpoint: 360px;

    scroll-behavior: smooth;

}


body {
    padding-block-start: var(--navbar-size);
    font-family: var(--font-family-text);
}

:is(h1, h2, h3) {
    font-family: var(--font-family-title);
    --color: var(--primary);
}

img {
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}

main img,
header img {
    background: radial-gradient(circle, var(--light) 0%, var(--primary-light) 100%);
    border: 1px solid transparent;
}

dialog:target {
    display: flex;
}

dialog main {
    display: flex;
    gap: var(--space2);
    flex-wrap: wrap;
}

dialog>article {
    animation: modal 0.5s;
}

dialog.large-modal>article {
    max-width: 65vw;
}


section {
    scroll-margin-top: var(--navbar-size);
}

@import url('navbar.css');
@import url('footer.css');