/** Header **/
body > main {
    --block-spacing-vertical: 0;
}

body > header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
    min-height: calc(100vh - var(--navbar-size));
    background-color: var(--primary-light);
    --block-spacing-vertical: 0;
    padding-block: 0;
    gap: var(--space2);
    align-items: stretch;
}

header img {
    object-fit: cover;
}

header div {
    display: flex;
    flex-direction: column;
    gap: var(--space3);
    justify-content: center;
}

header h1 {
    font-size: calc(var(--font-size-title) * 2);
}
header h2 {
    color: var(--secondary);
}


/** Presentation **/
section {
    padding-inline-start: var(--space3);
}

.presentation {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
    min-height: calc(100vh - var(--navbar-size));
    padding-block: 0;
    gap: var(--space3);
    align-items: stretch;
}

.presentation div {
    --block-spacing-vertical: var(--space3);
    padding-block: var(--block-spacing-vertical);
}