body > header  {
    min-height: 50vh;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body > main {
    --block-spacing-vertical: var(--spacing);
    --block-spacing-horizontal: var(--spacing);
    padding-inline: var(--block-spacing-horizontal);
}

body > main > section {
    display: flex;
    flex-direction: column;
}