<details{{attributes}} role="list">
	<summary aria-haspopup="listbox">Spectacles</summary>
	<ul role="listbox">
		{% for spectacle in this.spectacles %}
			<li>
				<a href="{{ path('app_spectacle', {'slug': spectacle.slug}) }}">{{ spectacle.title }}</a>
			</li>
		{% endfor %}
	</ul>
</details>
